.card {
    margin-top: 14%;
}
.login{
    width: 30%;
    margin-left: 35%;
    border-radius: 6px;

}
.mb-3{
    width: 80%;
    margin-left: 40px;
}
.btn{
    width: 80%;
    margin-left: 40px;
}

/* .ng-valid:not(form).ng-touches{
    border-left: 6px solid #42a942;
}
.ng-inalid:not(form).ng-touches{
    border-left: 6px solid #d24141;
} */