<div class="formgrid grid">
    <div class="col-6">
      <p-panel header="Reactive Forms">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-fluid">
          <div class="field">
            <label>ID:</label>
            <input type="number" pInputText formControlName="id"/>
          </div>
          <div class="field">
            <label>Modelo:</label>
            <input type="text" pInputText formControlName="modelo"/>
            <small *ngIf="form.controls['modelo'].errors && form.controls['modelo'].touched">
              Tiene errores
            </small>
          </div>
          <div class="field">
            <label>Año:</label>
            <p-inputNumber inputId="year"
                           formControlName="year"
                           [showButtons]="true"
                           [min]="0"
                           [step]="5"
            ></p-inputNumber>
          </div>
          <div class="field">
            <label>Fecha Compra:</label>
            <p-calendar inputId="fechaCompra"
                        formControlName="fechaCompra"
                        [showIcon]="true"
            ></p-calendar>
          </div>
          <div class="field">
            <label>Color:</label>
            <input type="color" pInputText formControlName="color"/>
          </div>
          <div class="field">
            <label>Kilometraje:</label>
            <p-inputNumber inputId="kilometraje"
                           formControlName="kilometraje"
                           [showButtons]="true"
                           [min]="0"
                           [step]="5"
            ></p-inputNumber>
          </div>
          <div class="field">
            <label>Placa:</label>
            <input type="text" pInputText formControlName="placa"/>
            <small *ngIf="form.controls['placa'].errors && form.controls['placa'].touched">
              Tiene errores
            </small>
          </div>
          <div class="field">
            <label>Tipo:</label>
            <input type="text" pInputText formControlName="tipo"/>
          </div>
          <div class="field">
            <label>Rin:</label>
            <p-inputNumber inputId="rin"
                           formControlName="rin"
                           [showButtons]="true"
                           [min]="0"
                           [step]="5"
            ></p-inputNumber>
          </div>
          <div class="field">
            <label>Ciudad:</label>
            <input type="text" pInputText formControlName="ciudad"/>
          </div>
          <div class="field">
            <label>State:</label>
            <p-inputSwitch inputId="state"
                           formControlName="state"
            ></p-inputSwitch>
          </div>
          <div class="field">
            <button pButton type="submit" label="Guardar"></button>
            <button pButton type="button" class="p-button-warning" label="Actualizar" (click)="updateAutomovil()"></button>
            <button pButton type="button" class="p-button-success" label="Ver Listado" [routerLink]="['/automovil-list']"></button>
          </div>
        </form>
      </p-panel>
    </div>
  </div>
  {{form.value|json}}
  