<!-- <h2>Register</h2>

<form [formGroup]="registerForm" (ngSubmit)="register()">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name">
    <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)">
      <span *ngIf="f.name.errors.required">Name is required.</span>
    </div>
  </div>

  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
    <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
      <span *ngIf="f.email.errors.required">Email is required.</span>
      <span *ngIf="f.email.errors.email">Invalid email format.</span>
    </div>
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">
    <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
      <span *ngIf="f.password.errors.required">Password is required.</span>
      <span *ngIf="f.password.errors.minlength">Password should be at least 6 characters long.</span>
    </div>
  </div>

  <button type="submit" [disabled]="registerForm.invalid">Register</button>
</form> -->



<form [formGroup]="registerForm" (ngSubmit)="register()"><br>
      <div class="login " >

      <div class="mb-3" ><br>

        <img alt="" src="./assets/imagenes/logo yavic.png"><br>
        <label for="exampleInputEmail1" class="form-label">Nombre </label>
        <input  class="form-control" type="text" id="name" formControlName="name" >
        
      </div>
      <div class="mb-3">
        <label  class="form-label">Email</label>
        <input  class="form-control" type="email" id="email" formControlName="email">
      </div>
      <div class="mb-3">
        <label  class="form-label">Password:</label>
        <input  class="form-control" type="password" id="password" formControlName="password" >
      </div>
  
      <button type="submit" class="btn btn-primary"   [disabled]="registerForm.invalid">Registrar</button><br><br>
      <a class="dropdown-item text-center" routerLink="/login" >Iniciar secion</a>
      
  </div>
      <div class="card text-center  piePagina">
          <div class="card-header">
            Yavic e-Leccion
          </div>
          <div class="card-body">
            <h5 class="card-title">Votaciones 2023</h5>
            <p class="card-text">Yavirac Quito-Ecuador 2023 .</p>
            
          </div>
        </div>
    </form>
